<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Huawei eSDK Server</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:spring_config.xml
		</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SSOAuth</servlet-name>
    <servlet-class>com.huawei.esdk.sso.servlet.SSOXMLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SSORestProdServlet</servlet-name>
    <servlet-class>com.huawei.esdk.sso.servlet.SSORestProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SSOAnthenticate</servlet-name>
    <servlet-class>com.huawei.esdk.sso.servlet.SSORestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>eSDKServerComponent</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <init-param>
      <param-name>org.restlet.application</param-name>
      <param-value>com.huawei.esdk.platform.restlet.ESDKRestletServerApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSOAuth</servlet-name>
    <url-pattern>/ssoAuth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SSOAnthenticate</servlet-name>
    <url-pattern>/entrustedAuthProxy.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SSORestProdServlet</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>eSDKServerComponent</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>